/*login page css */

.login_page {
  display: flex;
}

.left_div {
  width: 18%;
}
.middle_div {
  width: 60%;
}

.right_div {
  width: 18%;
}

.loginpage_main {
  display: flex;
  padding-top: 20px;
}

.loginpage_left {
  margin-right: 25px;
}
.loginpage_logo {
  width: 175px;
}
.loginpage_right {
  width: 350px;
  border: 1px solid #dbdbdb;
  padding: 25px 0px;
  text-align: center;
}

.loginpage_form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.loginpage_input {
  padding: 10px;
  margin-bottom: 5px;
}

.loginpage_button {
  padding: 9px;
  margin: 10px 0px;
  background-color: #b2dffc;
  border: 0;
}

.loginpage_divider {
  display: flex;
  justify-content: center;
}

.loginpage_line {
  width: 130px;
  border: 1px solid #dbdbdb;
  height: 0;
}

.loginpage_or {
  margin-top: -12px;
  padding: 5px;
}

.loginpage_fb {
  padding: 10px;
  margin: 15px;
}

.loginpage_fb button {
  border: 0;
  padding: 10px;
  background-color: #ffff;
}

.loginpage_fb button span {
  margin-right: 6px;
}

.facebook {
  width: 20px;
  height: 20px;
}

.loginpage_right a {
  text-decoration: none;
  color: #1e4978;
}

.loginpage_signup_signin {
  width: 350px;
  height: 70px;
  padding: 25px 0px;
  border: 1px solid #dbdbdb;
  text-align: center;
  margin-top: 25px;
}

.loginpage_p {
  color: #009bf6;
  margin-left: 5px;
  font-weight: 600;
}

.loginpage_getapp {
  padding: 20px;
  text-align: center;
}

.getApp {
  margin: 30px 0px;
}

.loginpage_icon {
  width: 140px;
  margin: 5px;
}

.loginpage_link {
  text-decoration: none;
}
